.container{
    width: 400px;
    height: 400px;
    border: 1px solid red;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    /* overflow: auto; */
    /* The overflow: auto CSS property tells the browser to 
    handle content that is too large to fit inside its 
    container box. */
    text-align: justify;

}

.subcontainer{
    overflow: auto;
}

.img1{
    width: 100px;
    float: left;
}

.img2{
    width: 100px;
    float: right;
}

.p1{
    clear: left;
}

.p2{
    clear: right;
}