.outer-container{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    margin: 100px auto;
}

.inner-container{
    width: 200px;
    height: 200px;
    background-color: brown;
    color: yellow;
    display: flex;
    justify-content: center; /* x-axis center */
    align-items: center;    /* y-axis center */
    transform: scale(2); 
    /* changes the size of the container small or big both x and y directions */
    cursor: pointer;
    /* transform: scalex(1);  */
    /* only x direction */

    /* transform: scaley(1);  */
    /* only y direction */

    /* transform: scalex(1.5) scaley(3); (or) transform: scale(2,3); */
    /* specific directions x and y */

    /* also z axis is there */

    transform: skew(0deg, 0deg); 
    /*tilting the container skew(angleX, angleY)*/

    transform: translate(50%, 50%);
    /* moves the inner-container by 50% of the screen from both x and y axis*/

    /* transform: rotatez(90deg);   */
    /* rotateX for x direction rotate, rotateY for y direction rotate */

    /* transform: rotate(45deg) scale(1.3) skew(30deg) translate(50%); */

    
    /* transform-origin:bottom right;  */
    /* sets the origin of the container to the top-left */
    transform-origin: 40% 20% ;
    transition: 0.6s ease ;
}

.inner-container:hover{
    transform: rotate(70deg);
}