h1{
    color: palevioletred;
    background-color: darkslategrey;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 4px;
}

p{
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 4px;
    /* text-indent: 20px; */
}

a {
    text-decoration: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
}