*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    font-size: 1.2rem;

}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #061d0c, #48aa65);
}

.left{
    flex-basis: 30%;
}

.right{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    
    grid-auto-rows: 120px;


}

.left h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}

.left p{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}

.child-imgs{
    background-size: cover;  /* makes the short image full image */
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.child-imgs:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 #fff;
}

.row-2{
    grid-row: span 2; /* expands the box-1 to the next row */
    /* grid-column: span 2; expands the box-1 to the next column */
}

.col-2{
    grid-column: span 2;
}

/* media query for width */
@media(max-width: 1024px){
    .container{
        flex-direction: column;
    }

    .left h2{
        font-size: 1.5rem;
    }

    .right{
        width: 100%;
    }
    .child-imgs{
        grid-row: span 1;
        grid-column: span 3;
    }

}