*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    border: 2px solid red;
    height: 700px;
    display: grid;
    /* gap: 10px; */
    row-gap: 18px;
    column-gap: 6px;
    
    /* grid-template-columns: repeat(auto-fill, 100px); */
    grid-template-columns: 200px 200px 200px;
    /* grid-template-rows: 150px 70px 110px;  for first 3 rows respectively */
    /* grid-auto-rows: 120px;  for rest of the rows */

    /* justify-content: baseline; */

    /* align-content: start; */

}

.box{
    border: 2px solid green;
    padding: 12px;
}

#box-1{
    background-color: yellow;
    /* grid-column-start: 1;
    grid-column-end: -1; */

    /* grid-column: 1/3; */
    /* grid-row: 1/4; */
    /* grid-row: 1/span 3; */
    grid-area: 1/1/3/3;

    /* justify-self: center;
    align-self: flex-end; */


}