.box{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 100px auto;
    /* transition: 2s; this is short hand you can write everything in one only */
    transition-duration: 0.8s ;
    transition-property: background-color, border-radius, transform; /* giving tansition to a specific property only */
    /* transition-delay: 2s; */
    transition-timing-function: cubic-bezier(1,-0.63, 0, 1.65) ;

}   

.box:hover{
    background-color: chartreuse;
    border-radius: 50%;
    transform: scale(2) rotate(360deg);
}

nav{
    /* background-color: black; */
    color:black
    
}

.list{
    display: flex;
    gap: 20px;
   list-style: none;
}

.item{
    font-size: 1.2rem;
    transition: 0.5s ease-in;
}

.item:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    transform: translateY(-12px);
}