*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(170,245,248,1) 0%, rgba(248,162,239,0.8) 90% );
}

.navContainer{
    width: 100vw;
   
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient( 110.6deg,  rgba(4,20,51,1) 11.3%, rgba(239,238,249,1) 91.7% );}

nav{
    width: 100%;
    padding-right: 3rem;

}

#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#navLogo{
    font-size: 2.8rem;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#navItems{
    display: flex;
    gap: 40px;
    
}

.footerBox{
    background-image: linear-gradient( 110.6deg,  rgba(4,20,51,1) 11.3%, rgba(239,238,249,1) 91.7% );    color: white;
    width: 100%;
    text-align: center;
    min-height: 40px;

}

.footerBox p{
    color: azure;
    font-size: 2rem;
}

.contentBox{
    width: 60%;
    margin: auto;
    
    background-color: white;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;

}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}

.rightBox img{
    height: 400px;
    width: 300px;
    transition: all 0.6s linear 0s;
    border-radius: 20px;
}

.rightBox:hover{
    transform: scale(1.1);
    

}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.leftBox h2{
    font-size: 2rem;
}

.ingBox{
    font-size: 1.4rem;
}

.recipeBox{
    font-size: 1.4rem;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background-color: rgba(97, 90, 90, 0.781);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

}

.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    font: 1.7rem;
    color: azure;
}